services:
    best_it_ct_customer_prices.model.customer_price_collection:
        class: BestIt\CtCustomerPricesBundle\Model\CustomerPriceCollection
        factory: 'best_it_ct_customer_prices.model_customer_price_collection.by_user_factory:createPriceCollection'
        lazy: true

    best_it_ct_customer_prices.model_customer_price_collection.by_user_factory:
        class: BestIt\CtCustomerPricesBundle\Model\CustomerPriceCollection\ByUserFactory
        arguments:
            - '@best_it_ct_customer_prices.cache_adapter'
            - '%best_it_ct_customer_prices.fields.article%'
            - '@best_it_ct_customer_prices.commercetools_client'
            - '%best_it_ct_customer_prices.container%'
            - '%best_it_ct_customer_prices.fields.customer%'
            - '%best_it_ct_customer_prices.fields.prices%'
            - '@security.token_storage'
        public: false
