services:
    best_it_ct_customer_prices.model.customer_price_collection:
        class: BestIt\CtCustomerPricesBundle\Model\CustomerPriceCollection
        factory: 'best_it_ct_customer_prices.model_customer_price_collection.by_user_factory:createPriceCollection'
        lazy: true

    best_it_ct_customer_prices.model_customer_price_collection.customer_price_collection_factory:
        class: BestIt\CtCustomerPricesBundle\Model\CustomerPriceCollection\CustomerPriceCollectionFactory
        arguments:
            - '@best_it_ct_customer_prices.cache_adapter'
            - '%best_it_ct_customer_prices.fields%'
            - '%best_it_ct_customer_prices.query%'
            - '@best_it_ct_customer_prices.commercetools_client'
            - '%best_it_ct_customer_prices.container%'
            - '@?debug.stopwatch'

    best_it_ct_customer_prices.model_customer_price_collection.by_user_factory:
        class: BestIt\CtCustomerPricesBundle\Model\CustomerPriceCollection\ByUserFactory
        parent: best_it_ct_customer_prices.model_customer_price_collection.customer_price_collection_factory
        arguments:
            - '@security.token_storage'
        public: false
